:root {
    /* Font */
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /* Colors */
    --main-dark-cl: #111111;
    --main-light-cl: #ffffff;
    --accent-cl: #2e2f42;
    --accent-hh: #434455;
   
    /* Others */
}
/*common styles*/
.page {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
/* Reset */
.list,
ul,
ol {
    list-style: none;
}

.link,
a {
    text-decoration: none;
    color: currentColor;
}

.btn,
button {
    font-family: inherit;
    cursor: pointer;
}

/*header*/
.header {}

.header-nav {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-durkground {
    color: #2E2F42;
}

.header-list {
    list-style: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-cl);
    text-decoration: none;
}

.header-item {}

.header-link {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-cl);
}

.header .link:hover,
.header .link:focus
{
    color: #404BBF;
}
 
.address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em
}
.address-list {
    font-weight: 400;
    color: #434455;
    list-style: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-contacts-mail {}

.header-contacts-link {}

.header-contacts-tel {}


/*hero*/
.hero-section {
    background: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--main-light-cl);
    text-align: center;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-light-cl);
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    }
.hero-btn:hover,
.hero-btn:focus
{
    background-color: #404BBF;
}

/*one*/
.one-section {}

.section-list {
    list-style: none;
}

.subtitle-spdt {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color: var(--accent-cl);
}

.spdt-desc {
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: var(--accent-hh);
}

/*two*/
.two-section {}

.section-title {    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
}
.section-title {}

/*three*/
.three-section {
    background-color: #F4F4FD;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-cl);
}

.subtitle-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.three-item {
    background-color: #FFFFFF;
}

/*portfolio*/
.section-portfolio {}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    background-color: #F4F4FD;
    }

.portfolio-btn:focus {
    background-color: #404BBF;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

/*footer*/
.footer {
    background: #2E2F42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-lightground {
    color: #F4F4FD;
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}